
<div class="login-page">
    <div class="form">
      
      <form class="login-form">
        <label >Name:</label><input type="text" [(ngModel)]="name">
        <br>
        <label>condition:</label><input type="text" [(ngModel)]="condition">
        <br>
        <label>isbn:</label><input type="text" [(ngModel)]="isbn">
        <br>
        <label>Author:</label><input type="text" [(ngModel)]="Author">
        <br>
        <label>Due Date:</label><input type="text" [(ngModel)]="dd">
        <br>
        <label>Offer:</label><input type="text" [(ngModel)]="offer">
        <br>
        <button (click)="save()">save</button>
      </form>
    </div>
  </div>