
<div class="login-page">
  <div class="form">
    
    <form class="login-form">
      <label >Name:</label><label>{{name}}</label>
      <br>
      <label>condition:</label><label>{{condition}}</label>
      <br>
      <label>username:</label><label>{{username}}</label>
      <br>
      <label>isbn:</label><label>{{isbn}}</label>
      <br>
      <label>Author:</label><label>{{authopr}}</label>
      <br>
      <label>Due Date:</label><label>{{duedate}}</label>
      <br>
      <label>Offer:</label><label>{{offer}}</label>
      <br>
      <button (click)="trade()">Trade</button>
    </form>
  </div>
</div>
     
      
   